[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
here-debugger = "*"
djangorestframework = "*"
python-dotenv = "*"
django-shortcuts = "*"
pandas = "*"
coverage = "*"
black = "*"
drf-yasg = "*"

[dev-packages]
